@inject MusicStore.Repository.IGenreRepository _musicRepository
@inject MusicStore.Repository.IArtistRepository _artistRepository


<br />
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter" id="btnAddNewAlbum">
    Add album
</button><br />

@model AlbumModel
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add new Album</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (ViewBag.IsSuccess == true)
                {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Congratulations</strong> New album added successfully <br />
        Click <a asp-controller="StoreManager" asp-action="Details" asp-route-id="@ViewBag.AlbumId">here</a> to view the details
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria--hidden="true">&times;</span>
        </button>
    </div>}
            <form method="post" enctype="multipart/form-data"
                  asp-action="Create" asp-controller="StoreManager">
            

                <div class="form-group">
                    <label asp-for="AlbumId" class="control-label">Id</label>
                    <input asp-for="AlbumId" class="form-control" id="albumid" disabled="disabled" />

                </div>

                <div class="form-group">
                    <label asp-for="GenreId" class="control-label"></label>
                    <select id="GenreId" asp-for="GenreId" class="form-control" asp-items="(await _musicRepository.GetAllGenre()).Select(x => new SelectListItem() {
                 Text = x.Name,
                 Value = x.GenreId.ToString()
    })">
                        <option value="">Please choose a genre</option>
                    </select>

                </div>

                <div class="form-group">
                    <label asp-for="ArtistId" class="control-label"></label>
                    <select id="ArtistId" asp-for="ArtistId" class="form-control" asp-items="(await _artistRepository.GetArtists()).Select(x => new SelectListItem() {
                 Text = x.Name,
                 Value = x.ArtistId.ToString()
    })">
                        <option value="">Please choose an artist</option>
                    </select>

                </div>

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" id="Title" />

                </div>

                <div class="form-group">
                    <label asp-for="AlbumArtUrl" class="control-label"></label>
                    <input asp-for="AlbumArtUrl" class="form-control" id="AlbumArtUrl" />

                </div>

                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" id="Price" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Album" class="btn btn-primary" />
                </div>


            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>