@*@inject MusicStore.Repository.IMusicRepository _musicRepository
@inject MusicStore.Repository.IArtistRepository _artistRepository*@
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Add album
</button>

@model AlbumModel
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add new Album</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="GenreId" class="control-label"></label>
                                <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="ArtistId" class="control-label"></label>
                                <select asp-for="ArtistId" class="form-control" asp-items="ViewBag.ArtistId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AlbumArtUrl" class="control-label"></label>
                                <input asp-for="AlbumArtUrl" class="form-control" />
                                <span asp-validation-for="AlbumArtUrl" class="text-danger"></span>
                            </div><br />
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>