
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager

@if (_signInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" 
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Hello @User.Identity.Name
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
            @*<a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">Change password</a>*@
        </div> 
        <button class="btn btn-danger"><a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a></button>
    </li>
}

else
{
    <li>
        <a class="nav-link text-dark" id="registerLink" asp-controller="Account" asp-action="Signup"
           style="border-right: 1px solid; border-color: darkgrey;"> Register </a>
    </li>
    <li>
        <a class="nav-link text-dark" id="loginLink" asp-controller="Account" asp-action="Login"
           style="border-right: 1px solid; border-color: darkgrey;"> Login </a>
    </li>
}









