@model MusicStore.Data.Album

@{
    ViewData["Title"] = "Edit";
}


<div class="modal" tabindex="-1" id="editStaticBackdrop-@Model.AlbumId">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @*<p>Modal body text goes here.</p>*@



                <h1>Edit</h1>

                <h4>Album</h4>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="AlbumId" />
                            <div class="form-group">
                                <label asp-for="GenreId" class="control-label"></label>
                                <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
                                <span asp-validation-for="GenreId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ArtistId" class="control-label"></label>
                                <select asp-for="ArtistId" class="form-control" asp-items="ViewBag.ArtistId"></select>
                                <span asp-validation-for="ArtistId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AlbumArtUrl" class="control-label"></label>
                                <input asp-for="AlbumArtUrl" class="form-control" />
                                <span asp-validation-for="AlbumArtUrl" class="text-danger"></span>
                            </div>
                            @*<div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>*@
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Save">Save changes</input>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>










