@inject MusicStore.Repository.IGenreRepository _musicRepository
@inject MusicStore.Repository.IArtistRepository _artistRepository


<partial name="_ajaxCreate" /><br />


<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr class="text-center">
            <th>Id</th>
            <th>Title</th>
            <th>Price</th>
            <th>Genre</th>
            <th>Artist</th>
            <th>Modify</th>
            @*<th>Timestamp</th>*@
        </tr>
    </thead>
    <tbody class="text-center" id="table_data"></tbody>
</table>

@model MusicStore.Data.Album

<div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">


                <div class="row">
                    <div class="col-lg-3">
                        <label>Id</label>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group">
                            <input id="Id" disabled="disabled" class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label>Title</label>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group">
                            <input id="Title" class="form-control" autocomplete="off" />
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <label>Price</label>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group">
                            <input id="Price" class="form-control" autocomplete="off" />
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <label>AlbumArtUrl</label>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group">
                            <input id="AlbumArtUrl" class="form-control" autocomplete="off" />
                        </div>
                    </div>

                    @* <div class="col-lg-3">
                        <label>Genre</label>
                    </div>
                   <div class="col-lg-9">
            <div class="form-group">
                <select id="Genre" class="form-control" asp-items="ViewBag.GenreId" autocomplete="off"></select>
            </div>
        </div>*@

                    <div class="form-group">
                        <label asp-for="GenreId" class="control-label">Genre</label>
                        <select id="GenreId" asp-for="GenreId" class="form-control" asp-items="(await _musicRepository.GetAllGenre()).Select(x => new SelectListItem() {
                 Text = x.Name,
                 Value = x.GenreId.ToString()
    })">
                            <option value="">Please choose a genre</option>
                        </select>

                    </div>

                    @*<div class="col-lg-3">
            <label>Artist</label>
        </div>
        <div class="col-lg-9">
            <div class="form-group">
                <select id="Artist" class="form-control" asp-items="ViewBag.ArtistId" autocomplete="off"></select>
            </div>
        </div>

                    <div class="col-lg-3">
                        <label>Artist</label>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group">
                            <select id="Artist" class="form-control" asp-items="ViewBag.ArtistId" autocomplete="off"></select>
                        </div>
                    </div> *@


                    <div class="form-group">
                        <label asp-for="ArtistId" class="control-label"></label>
                        <select id="ArtistId" asp-for="ArtistId" class="form-control" asp-items="(await _artistRepository.GetArtists()).Select(x => new SelectListItem() {
                 Text = x.Name,
                 Value = x.ArtistId.ToString()
    })">
                            <option value="">Please choose an artist</option>
                        </select>

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" onclick="UpdateAlbum();" id="btnUpdate">Save</button>
            </div>

        </div>
    </div>
</div>


<div>
    <input type="hidden" id="urlAlbumData" value="@Url.Action("AlbumList","Ajax")" />
</div>

<script src="~/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/custom.js"></script>
