@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}


<table class="table table-bordered">
    <thead>
        <tr class="text-center">
            <th>Id</th>
            <th>Title</th>
            <th>Price</th>
            <th>Genre</th>
            <th>Artist</th>
            <th>Modify</th>
        </tr>
    </thead>
    <tbody class="text-center" id="table_data"></tbody>
</table>
<div>
    <input type="hidden" id="urlAlbumData" value="@Url.Action("AlbumList","Ajax")"/>
</div>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/custom.js"></script>